.job-seeker-dashboard {
  padding: 2rem;
  animation: fadeIn 0.5s ease-in-out;
}

.job-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.job-seeker-dashboard i {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
